.MuiGridList-root {
  flex-wrap: nowrap !important;
}

.create-project-button {
  margin-left: 1em !important;
}

.project-list-title {
  margin: 30px 0 20px !important;
}

.container-home {
  max-width: 100% !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}