* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
}

.left-menu {
  width: 260px;
}

.main {
  //margin: 30px auto;
  //max-width: 1200px;
}

header{
  button{
    img{
      margin-right: 10px;
    }
  }
}
