.tasks {
  &-phase {
    &-icon {
      color: #81C784;
      margin-left: auto;

      &.active {
        color: #43A047;
      }
    }
  }

  &-col {
    background: #eeeeee;
    padding: 1em;
    border-radius: .6em;

    &-title {
      font-size: .8em;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  &-card {
    padding: .5em 1.8em;
    text-align: left;
    position: relative;
    margin-bottom: .5em;

    &:hover {
      .tasks-card-move-left,
      .tasks-card-move-right {
        opacity: 1;
      }
    }

    &-move-left,
    &-move-right {
      position: absolute !important;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: all 0.3s ease-in-out !important;
    }

    &-move-left {
      left: -20px;
    }

    &-move-right {
      right: -20px;
    }
  }
}