.project {
  &-item {
    text-align: left;
  }
}
.card-project {
  text-align: left;
  .card-media {
    background: no-repeat center;
    background-size: cover;
    height: 0px;
    padding-top: 25%;
  }
  .card-tags {
    margin-right: 5px;
    cursor: pointer;
  }
}
