a {
  color: inherit;
}

.project {
  &-item {
    text-align: left;
  }
}
.card-project {
  text-align: left;
  &-action{
    margin-left: 0 !important;
  }
  &-apply{
    margin-left: auto !important;
    svg{
      margin-right: 5px;
    }
  }
  &-gallery{
    height: 300px;
  }
  &-gallery-root{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow: hidden;
  }
  &-media {
    background: no-repeat center;
    background-size: cover;
    height: 0px;
    padding-top: 25%;
  }
  &-meta{
    div{
//      margin-bottom: 10px;
    }
  }
  &-tags {
    margin-left: 5px;
    cursor: pointer !important;
  }
  #project-phases{
    //box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  }
  .MuiPaper-elevation1.Mui-disabled{
    box-shadow: none;
  }
  .MuiExpansionPanelSummary-root{
    margin-bottom: 0;
    .MuiSvgIcon-root{
      margin-right: 5px;
    }
    .phase-total-tasks{
      margin-left: 5px;
    }
  }
  .MuiExpansionPanelDetails-root{
    .MuiList-root{
      width: 100%;
    }
  }
  .MuiExpansionPanel-root.Mui-expanded{
    margin: 0;
  }
}
.container{
  &-home{
    text-align: left;
    h2{
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .home-projects{
      margin-bottom: 30px;
      #my-projects{
        a[role=button], button{
          float: right;
          svg{
            margin-right: 5px;
          }
        }
      }
    }
  }
}
.mr5px{
  margin-right: 5px;
}
.mr15px{
  margin-right: 15px;
}
.txtTop{
  vertical-align: text-top;
}
.MuiCardMedia-root{
  height: 200px;
}
#welcome{
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px #b2b8c2 solid;
}

.postulations {
  background-color: #8E24AA !important;
}
