.project {
  &-item {
    text-align: left;
  }
}
.card-project {
  text-align: left;
  &-action{
    margin-left: 0 !important;
  }
  &-apply{
    margin-left: auto !important;
    svg{
      margin-right: 5px;
    }
  }
  &-gallery{
    height: 200px;
  }
  &-gallery-root{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow: hidden;
  }
  &-media {
    background: no-repeat center;
    background-size: cover;
    height: 0px;
    padding-top: 25%;
  }
  &-meta{
    div{
      margin-bottom: 10px;
    }
  }
  &-tags {
    margin-left: 5px;
    cursor: pointer !important;
  }
}
.container{
  &-home{
    text-align: left;
    h2{
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .home-projects{
      margin-bottom: 30px;
      #my-projects{
        a[role=button], button{
          float: right;
          svg{
            margin-right: 5px;
          }
        }
      }
    }
  }
}
